@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply font-sans;
}
html {
  overflow-x: hidden;
}
.radial-gradient::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: transparent;
  background-image: radial-gradient(farthest-side, transparent 6px, #f7f7f7 0);
  background-size: 15px 15px;
  background-position: -3px -5px, 0 0;
  top: -10px;
}
.radial-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: transparent;
  background-image: radial-gradient(farthest-side, transparent 6px, #f7f7f7 0);
  background-size: 15px 15px;
  bottom: -10px;
  background-position: -3px 2px, 0 0;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
.starRatingCustom span svg {
  @apply w-[18px] h-[18px];
}
.liner-container::before,
.liner-container::after {
  content: "";
  @apply flex-1 block border-b border-primary;
}

.customSelect label::after,
.customSelect label::before {
  @apply border-0;
}
.customSelect label {
  @apply text-black;
}
.customBreadcrumbs li {
  @apply hover:text-primary;
}

.full-width {
  width: 100vw !important;
}
